body,html {
  height:95%;
}
.user { 
  margin-right: .5em;
}

#content {
  height:100%;
}
#input{
  width: 400px;
  padding: 5px;
  margin-top: 5px;
}

#msgs {
  height: 75%;
  max-height: 750%;
  overflow: scroll;
  border: 4px inset green;
  padding: 10px;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.container {
}

.msg {
  border-radius:4px;
  box-shadow:2px 2px #888888;
  padding:5px;
  margin:2px;
}

.user {
  font-weight: bold;
}

.theirs {
  background-color:#B6CCCC;
}

.mine {
  background-color:#FFCCCC;
}
