body,html {
  height:95%;
}
.user { 
  margin-right: .5em;
}

#content {
  height:100%;
}
#input{
  width:100%;
  padding: 5px;
  margin-top: 5px;
}
#msgs {
  height: 75%;
  max-height: 750%;
  overflow: scroll;
  border: 4px inset green;
  padding: 5px;
}
