#msgs
  -msgs.each do |msg|
    -m=JSON.parse(msg)
    %div
      %span.user
        #{m['user']}:
      %span.text
        =m['msg']
%form{id:"form"}
  %input#input{type:"text", value:"send a message"}
  %input{type:"submit", value:"send"}
:javascript
  window.onload = function() {
    (function() {
      var show = function(el){
          return function(msg){
            m=JSON.parse(msg);
            var bubble = getCookie('user') == m.user ? 'bubble bubble--alt' : 'bubble';
            el.innerHTML = el.innerHTML + '<div id="' + m.msg_id + '" class="' + bubble + '">' + m.msg + '</div>';
            scroll();
          }
      }(document.getElementById('msgs'));

      function scroll(height) {
        var height=0;
        $("#msgs div").each(function(i,value) {
          height += parseInt($(this).height());
        });
        height += '';
        $("#msgs").animate({scrollTop: height});
      }

      function log(msg) {
        console.log(msg);  
      }
      function json(obj) {
        return JSON.stringify(obj);
      }
      function msg() {
        var m = new Object();
        m.user = getCookie('user');
        m.msg = elem('input').value;
        m.client_date = Date.now();
        return m;
      }
      var wsproto    = window.location.protocol == 'https:' ? 'wss://' : 'ws://'
      var ws       = new ReconnectingWebSocket(wsproto + window.location.host + window.location.pathname);
      //var ws       = new WebSocket('ws://localhost:9292/room/1');
      ws.onopen    = function()  { log('websocket opened'); };
      ws.onclose   = function()  { log('websocket closed'); }
      ws.onmessage = function(m) { show(m.data); };

      var sender = function(f){
        input.onclick = function(){ input.value = "" };
        f.onsubmit    = function(){
          ws.send(json(msg()));
          input.value = "";
          return false;
        }
      }(document.getElementById('form'));
    })();
  } 
