#msgs
  -msgs.each do |msg|
    -m=JSON.parse(msg)
    -clzz=m['user']==user ?  'mine' : 'theirs'
    .msg{class:"#{clzz}"}
      %span.user
        #{m['user']}:
      %span.message
        =m['msg']
%form{id:"form"}
  %input#input{type:"text", value:"send a message"}
  %input{type:"submit", value:"send"}
:javascript
  var away = false;
  var msg_count = 0;
  function onFocus() {
    away = false;
    document.title='Lip';
  }
  function onBlur() {
    away = true;
    msg_count = 0;
  }

  window.onfocus = onFocus;
  window.onblur = onBlur;
  window.onload = function() {
    (function() {
      var show = function(el){
          return function(msg){
            if(away) {
              msg_count+=1;
              document.title='('+msg_count+') Lip';
            }
            m=JSON.parse(msg);
            var bg = getCookie('user') == m.user ? 'mine' : 'theirs';
            el.innerHTML = el.innerHTML + '<div id="' + m.msg_id + '" class="msg ' + bg + '"><span class="user">' + m.user + ':</span><span class="message">' + m.msg + '</span></div>';
            scroll();
          }
      }(document.getElementById('msgs'));

      function scroll(height) {
        var height=0;
        $("#msgs div").each(function(i,value) {
          height += parseInt($(this).height());
        });
        height += '';
        $("#msgs").animate({scrollTop: height});
      }

      function log(msg) {
        console.log(msg);  
      }
      function json(obj) {
        return JSON.stringify(obj);
      }
      function msg() {
        var m = new Object();
        m.user = getCookie('user');
        m.msg = elem('input').value;
        m.client_date = Date.now();
        return m;
      }
      var wsproto    = window.location.protocol == 'https:' ? 'wss://' : 'ws://'
      var ws       = new ReconnectingWebSocket(wsproto + window.location.host + window.location.pathname);
      //var ws       = new WebSocket('ws://localhost:9292/room/1');
      ws.onopen    = function()  { log('websocket opened'); };
      ws.onclose   = function()  { log('websocket closed'); }
      ws.onmessage = function(m) { show(m.data); };

      var sender = function(f){
        input.onclick = function(){ input.value = "" };
        f.onsubmit    = function(){
          ws.send(json(msg()));
          input.value = "";
          return false;
        }
      }(document.getElementById('form'));
    })();
  } 
